{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Cart Items:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for thing in cart_things%}
      <tr>
        <th scope="row">{{thing.product_id}}</th>
        <td>{{thing.seller_id}}</td>
        <td>{{thing.quantity}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('index.cart', pid = thing.id, sid = thing.seller_id, cid = thing.coupon_code)}}" role="button">Remove Item</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<a class="btn btn-secondary" href="{{ url_for('index.index')}}" role="button">Continue Shopping</a></td>
<a class="btn btn-secondary" href="{{ url_for('index.checkout')}}" role="button">Complete Purchase</a></td>
{% endblock %}