{% extends "base.html" %}

{% block content %}



<h2>User Info</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{user1.id}}</th>
        <td>{{user1.firstname + " " + user1.lastname}} <a href="{{ url_for('users.edit_name', uid = user1.id)}}" type="button" class="btn btn-light">Edit</a></td>
        <td>{{user1.email}}<a href="{{ url_for('users.edit_email', uid = user1.id)}}" type="button" class="btn btn-light">Edit</a></td>
        <td>{{user1.addy}}<a href="{{ url_for('users.edit_addy', uid = user1.id)}}" type="button" class="btn btn-light">Edit</a></td>
        <td>{{user1.balance}}<a href="{{ url_for('users.withdraw_balance', uid = user1.id)}}" type="button" class="btn btn-light">Withdraw</a>
          <a href="{{ url_for('users.add_balance', uid = user1.id)}}" type="button" class="btn btn-light">Add</a></td>
      </tr>
  </tbody>
</table>


{% if seller != None %}
<h2>Hi Seller!</h2>
<a href="{{ url_for('index.seller_page', uid = user1.id)}}">Click</a> here to see information about your own products
{% endif %}

<!--sid = user1.id)-->
<br><br>
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Order Date</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row"> <a href="{{ url_for('index.order_page', oid = purchase.id)}}">{{purchase.id}}</a> </th>
        <td>{{purchase.name}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}