{% extends "base.html" %}

{% block content %}

<head>
  <style>
    #leftbox {
        float:left; 
    }
    #rightbox {
        float:right; 
    }
  </style>
</head>

<br><br>

<h6>Filter Category</h6>
</head>
<form action="{{ url_for('index.category')}}" method="post">
<div id = leftbox style="color: aliceblue; text-align: left; margin-bottom: 40px">
    <select name= "cat" class = "selectpicker form-control">
        {% for cat in categories%}
        <option value= "{{cat.category}}" SELECTED>{{cat.category}}</option>"
        {% endfor %}
    </select>
</div>
<input type="submit" value="Submit"/>
</body>
</form>

<p>      </p>
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">More Info</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td><a href = "{{ url_for('index.product', pid = product.id)}}">Product Info</a></td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
