{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Product_Info</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{prod[0].id}}</th>
        <td>{{prod[0].name}}</td>
        <td>{{prod[0].price}}</td>
      </tr>
  </tbody>
</table>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sellers</th>
    </tr>
  </thead>
  <tbody>
    {%for seller in prod%}
      <tr>
        <th scope="row">{{seller.seller_id}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}