{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Product_Info</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Seller</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{prod.id}}</th>
        <td>{{prod.name}}</td>
        <td>{{prod.seller_id}}</td>
        <td>{{prod.price}}</td>
      </tr>
  </tbody>
</table>

{% endblock %}