{% extends "base.html" %}

{% block content %}



<head>
    <style>
      .box {
        width: 20%;
        display: inline-block;
      }
      .box-1 {
        width: 10%;
      }
      .box-2 {
        width: 10%;
      }
      .box-3{
        width: 10%;
      }
    </style>
  </head>

<br><br>
<pre>Search Product:</pre>
  <div class = "box box-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}
          {{ form.product(size=32) }}<br/>
          {% for error in form.product.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        {{form.submit()}}
      </form>
    </div>
    

<p>      </p>
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">More Info</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td><a href = "{{ url_for('index.product', pid = product.id)}}">Product Info</a></td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

<!-- <div id = leftbox style="color: aliceblue; text-align: left; margin-bottom: 40px"></div> 
    /* div {
        position: relative; left: 10px; top: 10px; 
    }    */-->

    <!-- /* #wrap:after {
      display: inline-block;
      height: 0px;
      clear: both;
      float: none;
    }
    #wrap div {
      float: left;
      word-break: break-all;
    }
    #one {
      width:20%;
      float:left;
    }

    #two {
      width:20%;

    }
    #three {
      width:20%;
      float:inherit;
    } */ -->