{% extends "base.html" %}

{% block content %}
{% if seller != None %}
<h2>Your Products:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col"> ID</th>
      <th scope="col"> Price</th>
      <th scope="col">Inventory</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    {% for s in seller%}
      <tr>
        <th scope="row">{{s.name}}</th>
        <td>{{s.id}}</td>
        <td>{{s.price}} <a href="{{ url_for('index.edit_price', pid = s.id)}}" type="button" class="btn btn-light">Edit</a></td>
        <td>{{s.inventory}} <a href="{{ url_for('index.update_inventory', sid = user1.id, pid = s.id)}}" type="button" class="btn btn-light">Edit</a></td>
        <td>{{s.available}} <a href="{{ url_for('index.edit_available', pid = s.id)}}" type="button" class="btn btn-light">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('index.add_product', sid = user1.id)}}" type="button" class="btn btn-light">Add  Product</a>
<a href="{{ url_for('index.delete_product', sid = user1.id)}}" type="button" class="btn btn-light">Delete Product</a>


<h1>     </h1>
<h2>Your Orders:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Date</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Product</th>
      <th scope="col">Address</th>
      <th scope="col">Fufillment Status</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(purchases|length)%}
      <tr>
        <th scope="row">{{purchases[i].id}}</th>
        <td>{{purchases[i].time_purchased}}</td>
        <td>{{purchases[i].quantity}}</td>
        <td>{{purchases[i].name}}</td>
        <td>{{user_info[i][0][2]}}</td>
        {% if purchases[i].fulfilled_status == False %}
          <td>{{purchases[i].fulfilled_status}} <a href="{{ url_for('index.edit_fulfilled', pid = purchases[i].id, status = purchases[i].fulfilled_status, uid = user1.id)}}" type="button" class="btn btn-light">Mark as Fulfilled</a></td> 
        {% else %}
          <td>{{purchases[i].fulfilled_status}} 
        {% endif %} 
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} 



{% endblock %}
