{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Seller {{seller[0].firstname + " " + seller[0].lastname}}:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Product Inventory</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for s in seller%}
      <tr>
        <th scope="row">{{s.name}}</th>
        <td>{{s.price}}</td>
        <td>{{s.inventory}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('index.cart', pid = s.id, sid = s.seller_id)}}" role="button">Add to Cart</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}